<?xml version="1.0" encoding="UTF-8"?>


<set extends="pattern-abstract-envato-1" >

	<string name="image" value="abstract-envato-1/pngs/$fileName" editable="false" enable="true" free="true" />	
		
	<size name="width" value="$width" />
	
	<size name="height" value="$height" />

	
</set>
