/*
Theme Name: dt3
Theme URI: http://www.dotemplate.com
Author: doTemplate - Thierry Ruiz
Author URI: http://www.dotemplate.com
Description: Generated template created with doTemplate online editor
Version: 1.0
License: GNU General Public License
License URI: 
Tags:
*/

*{
	margin:0;
	padding:0;
}

header, nav, section, article, aside, footer{
	display: block;
}

table{
	border-spacing:0;
	border-collapse:collapse;
}

fieldset,img{
	border:0;
}

address,caption,cite,code,dfn,th,var{
	font-style:normal;
	font-weight:normal;
}

li{
	list-style:none;
}

caption,th{
	text-align:left;
}

h1,h2,h3,h4,h5,h6{
	font-size:100%;
	font-weight:normal;
}

q:before,q:after{
	content:'';
}

abbr,acronym{
	font-variant:normal;
	border:0;
}

sup{
	vertical-align:text-top;
}

sub{
	vertical-align:text-bottom;
}

input,textarea,select{
	font-size:inherit;
	font-family:inherit;
	font-weight:inherit;
}

legend{
	color:#000;
}

a img{
	border:none;
}

a:link,a:visited{
	text-decoration:none;
}

.clear{
	clear:both;
	height:0;
	visibility:hidden;
	width:0;
	overflow:hidden;
	display:block;
}

html{
	overflow-Y:scroll;
	overflow-X:hidden;
	margin:0;
}

body{
}

#top{
	height:60px;
	width:1280px;
	margin:0 auto;
}


#logo {
	position:relative;
	height:60px;
	width:250px;
	margin:0 auto;
	float:left;
}

#logo img {
	margin:10px 0 0 15px;
}


#hmenu{
	height:40px;
	text-transform:uppercase;
	font-size:11px;
	font-family:arial;
	margin-top:10px;
	font-weight:bold;
	float:right;
}


#hmenu .dtmenu, #hmenu .dtmenu ul{
	position:relative;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:0;
}

#hmenu .dtmenu a:link, #hmenu .dtmenu a:active, #hmenu .dtmenu a:visited{
	line-height:40px;
	font-size:1em;
	text-decoration:none;
	display:block;
	padding:0 40px;
}

#hmenu .dtmenu li{
	position:relative;
	float:left;
}


#hmenu .dtmenu ul{
	position:absolute;
	box-shadow:0 1px 5px #000000;
	-moz-opacity:0.9;
	-webkit-box-shadow:#000000 0 1px 5px;
	opacity:0.9;
	display:none;
	-khtml-opacity:0.9;
	z-index:100;
	filter:alpha(opacity=90);
	top:40px;
}

#hmenu .dtmenu li ul a{
	width:14em;
	float:left;
}

#hmenu .dtmenu li ul a:link, #hmenu .dtmenu li ul a:active, #hmenu .dtmenu li ul a:visited{
	line-height:38px;
}

#hmenu .dtmenu ul ul{
	top:auto;
}

#hmenu .dtmenu li ul ul{
	margin:0 0 0 10px;
	left:14em;
}

#hmenu .dtmenu li:hover ul,#hmenu .dtmenu li.ie6hover ul{
	display:none;
}

#hmenu .dtmenu li:hover ul, #hmenu .dtmenu li li:hover ul,#hmenu .dtmenu li.ie6hover ul, #hmenu .dtmenu li li.ie6hover ul{
	display:block;
}

#hmenu {
	box-shadow:none;
	-webkit-box-shadow:none;
	background-color:transparent;
	background-image:none;
	background-repeat:no-repeat;
}

#hmenu .dtmenu a:hover{
	background-color:#242424;
	background-image:none;
	background-repeat:no-repeat;
	background-position:center top;
}

#hmenu .dtmenu li a:hover,#hmenu .dtmenu li a:active{
	border-radius:5px;
	color:#DDDDDD;
	text-shadow:0 0 10px #FFFFFF;
}

#hmenu .dtmenu li ul li a:hover{
	border-radius:0px;
	background:#3d3d3d;
}

#hmenu .dtmenu a:link,#hmenu .dtmenu a:visited{
	color:#242424;
}

#hmenu .dtmenu ul, #hmenu .dtmenu li ul li{
	background-color:#242424;
}

#hmenu .dtmenu li ul li a:link, #hmenu .dtmenu li ul li a:visited{
	color:#DDDDDD;
}

#hmenu ul.dtmenu > li > a,#hmenu ul.dtmenu > li:last-child > a, #hmenu ul.dtmenu > li.lastChild > a{
	border:none;
}

#top .overlay{
	display:none;
	background-image:none;
}

#top .content {
	position:relative;
	width:960px;
	margin:0 auto;
}

#header-wrapper{
	position:relative;
	height:700px;
	width:100%;
	background:#F0F0F0;
	border-top:1px solid #E4E4E4;
	border-bottom:1px solid #E4E4E4;
}

#header-wrapper.collapse {
	height:40px;	
}

.slideshow { position: relative; overflow: auto; }
.slideshow li { list-style: none; }
.slideshow ul li { float: left; }


.slide {
	text-align:center;
	position:relative;
	background-color:transparent;
	margin:0 auto;
	background-position:center top;
	font-family: 'Roboto Condensed',sans-serif;
}

.slide h1 {
	color: #505050;
	font-size:50px;
	font-weight:bold;
}

#slide1 h1 {
	margin: 30px 0 50px 0 ;
}


#slide1 {
	background-image:url('images/css/slide1.jpg');
	background-repeat:no-repeat;
	background-position: center 120px;
}

#slide2{
	background-image:url('images/css/slide2.png');
}

#slide3{
	background-image:url('images/css/slide3.png');
}

#slide4{
	background-image:url('images/css/slide4.png');
}


.slideshow, .slide {
	height:700px !important;
	width:1050px !important;
	margin:0 auto;
}


#wrapper {
	position:relative;
	height:auto !important;
	width:100%;
	background-color:#FFFFFF;
	border-top:none;
	min-height:500px;
}


#container{
	position:relative;
	width:960px;
	margin:0 auto;
}

#page{
	width:960px;
	margin:0 auto;
}

#page .layout-m {
	padding-top:40px;
}

#page .layout-m #main {
	width:960px;
	margin:0 auto;
}

#page .layout-ms #main{
	width:670px;
	float:left;
}


#main{
	position:relative;
	color:#242424;
	text-transform:default;
	font-size:12px;
	font-style:normal;
	width:100%;
	font-family:Arial,Helvetica,sans-serif;
	margin-top:40px;
}

#main p, #main div, #main td{
	line-height:2em;
	letter-spacing:normal;
}

#main h1, #main h2, #main h3, #main h4, #main h5, #main h6{
	line-height:1em;
}

#main p a:link, #main p a:visited{
	color:#e76818;
	text-decoration:none;
	font-weight:bold;
}

#main p a:hover{
	color:#e76818;
}

#main h1, #main h1 a:link, #main h1 a:visited{
	letter-spacing:1px;
	color:#505050;
	text-transform:none;
	font-style:normal;
	font-size:50px;
	font-family:'Roboto Condensed', sans-serif;
	font-weight:400;
}

#main h1{
	background-color:transparent;
	margin:45px 0 25px 0;
	padding:0px;
	border:0;
	text-shadow:none;
	background-image:none;
	background-repeat:no-repeat;
}

#main h2, #main h2 a:link, #main h2 a:visited{
	letter-spacing:1px;
	color:#e76818;
	text-transform:none;
	font-style:normal;
	font-size:26px;
	font-family:'Roboto Condensed', sans-serif;
	font-weight:400;
}

#main h2{
	background-color:transparent;
	margin:20px 0 10px 0;
	padding:0px;
	border:0;
	text-shadow:none;
	background-image:none;
	background-repeat:no-repeat;
}

#main h3, #main h3 a:link, #main h3 a:visited{
	letter-spacing:1px;
	color:#656565;
	text-transform:none;
	font-style:normal;
	font-size:20px;
	font-family:'Roboto Condensed', sans-serif;
	font-weight:400;
}

#main h3{
	background-color:transparent;
	margin:5px 0;
	padding:0px;
	border:0;
	text-shadow:none;
	background-image:none;
	background-repeat:no-repeat;
}

#main p{
	text-align:justify;
}

#main h1:first-child{
	margin:0px 0 25px 0;
}

#main a, #main a:visited{
	color:#e76818;
	font-weight:bold;
}

#main a:hover{
	color:#e76818;
}

.post .entry p img{
	box-shadow:1px 1px 12px #555;
	-webkit-box-sizing:border-box;
	background-color:white;
	-moz-box-sizing:border-box;
	padding:5px;
	border:1px solid #909090;
	box-sizing:border-box;
}

.post .entry p img.alignright{
	box-shadow:1px 1px 12px #555;
	margin:5px 0 20px 20px;
	float:right;
}

.post .entry p img.alignleft{
	box-shadow:1px 1px 12px #555;
	margin:5px 20px 20px 0px;
	float:left;
}

.post .entry div.wp-post-image-full img{
	height:auto;
	width:100%;
	margin:5px 0px 20px 0px;
}

.post .entry div.wp-post-image-left img{
	height:auto;
	width:45%;
	margin:5px 20px 20px 0px;
	float:left;
}

.post .entry div.wp-post-image-right img{
	height:auto;
	width:45%;
	margin:5px 0px 20px 20px;
	float:right;
}

.post:first-child{
	margin:0;
}

.post{
	margin:80px 0 0 0;
}

.post h1 a, .post h1 a:hover{
	color:#505050;
	text-decoration:none;
}

.post .entry a,.post .entry a a:visited,.post .entry-footer a, .post .entry-footer a:visited{
	color:#e76818;
	font-weight:bold;
}

.post .entry-footer{
	font-style:italic;
	font-size:0.9em;
}

h3#comments{
	margin-top:50px;
}

ol.commentlist{
	list-style:none;
	padding:0;
	border-top:3px solid #EEEEEE;
}

ul.children{
	list-style:none;
	border-left:1px dotted #ddd;
}

.comment .comment-container{
	border-bottom:3px solid #EEEEEE;
	margin-top:20px;
	padding:10px 0;
}

.comment-head .avatar{
	float:left;
}

.comment-head .avatar img{
	vertical-align:middle;
	margin:0 10px 0 0;
	border:3px solid #EEEEEE;
}

.comment-head .name{
	font-size:18px;
	display:block;
	font-weight:bold;
}

.comment-entry{
	margin-top:15px;
}

.post #respond{
	margin-top:35px;
}

.post #respond form label{
	font-size:0.9em;
	display:block;
	font-weight:bold;
}

.post #respond form input[type=text], .post #respond form textarea{
	-webkit-box-sizing:border-box;
	width:100%;
	background-color:#EEE;
	display:block;
	margin:0px 0px 10px 0;
	-moz-box-sizing:border-box;
	padding:3px;
	border:1px solid #CCC;
	box-sizing:border-box;
}

.post #respond #submit{
	margin-top:15px;
}

.fix{
	clear:both;
	height:1px;
	overflow:hidden;
	margin:-1px 0 0;
}

.widget h2, .widget h2 a:link, .widget h2 a:visited{
	letter-spacing:-1px;
	color:#555555;
	text-transform:none;
	font-style:normal;
	font-size:20px;
	font-family:Helvetica, Arial, sans-serif;
	font-weight:normal;
}

.widget h2{
	background-color:transparent;
	margin-bottom:7px;
	padding:0px;
	border:0;
	text-shadow:none;
	background-image:none;
	background-repeat:no-repeat;
}

.widget{
	color:#222222;
	text-transform:normal;
	font-style:normal;
	font-size:12px;
	background-color:transparent;
	margin:40px 0px 0px 0px;
	font-family:Helvetica, Arial, sans-serif;
	border:0;
	padding:0px;
	background-position:center top;
	background-repeat:no-repeat;
	background-image:none;
}

.widget p, .widget div, .widget td{
	line-height:20px;
	letter-spacing:normal;
}

.widget h1, .widget h2, .widget h3, .widget h4, .widget h5, .widget h6{
	line-height:1em;
}

.widget p a:link, .widget p a:visited{
	color:#0000EE;
	text-decoration:none;
	font-weight:bold;
}

.widget p a:hover{
	color:#00EE00;
}

.widget ul{
	text-align:left;
	text-decoration:none;
	margin:7px 0px 8px 0px;
	list-style:none;
	border-top:1px solid #EEEEEE;
	padding:0;
}

.widget ul li{
	border-bottom:1px solid #EEEEEE;
	margin:0;
	list-style:none;
	padding:6px 0 6px 0px;
}

.widget ul li a:link, .widget ul li a:visited{
	letter-spacing:normal;
	color:#333333;
	text-transform:normal;
	font-style:normal;
	font-size:12px;
	font-family:Helvetica, Arial, sans-serif;
	text-decoration:none;
	font-weight:normal;
}

.widget ul li a:hover{
}

.widget .textwidget{
	text-align:justify;
}

.widget form input[type=text]{
	background-color:#EEE;
	padding:3px;
	border:1px solid #CCC;
}

#footer{
	position:relative;
	overflow-y:hidden;
	height:350px;
	width:100%;
	background-color:#242424;
	background-image:none;
	background-repeat:repeat-all;
}

#footer .content h2{
	margin:0 0 15px;
}

#footer .one-third{
	padding-left:3%;
	width:31%;
	margin:0 0 20px;
	float:left;
}

#footer .first{
	padding-left:0;
	clear:both;
}

#footer .overlay{
	display:none;
	background-image:none;
}

#footer .widget{
	color:#efefef;
	text-transform:normal;
	font-style:normal;
	font-size:12px;
	font-family:Helvetica, Arial, sans-serif;
}

#footer .widget p, #footer .widget div, #footer .widget td{
	line-height:20px;
	letter-spacing:normal;
}

#footer .widget h1, #footer .widget h2, #footer .widget h3, #footer .widget h4, #footer .widget h5, #footer .widget h6{
	line-height:1em;
}

#footer .widget p a:link, #footer .widget p a:visited{
	color:#e76818;
	text-decoration:none;
	font-weight:bold;
}

#footer .widget p a:hover{
	color:#f8f8f8;
}

#footer .widget h2, #footer .widget h2 a:link, #footer .widget h2 a:visited{
	letter-spacing:1px;
	color:#FFFFFF;
	text-transform:none;
	font-style:normal;
	font-size:20px;
	font-family:'Roboto Condensed', sans-serif;
	font-weight:400;
}

#footer .widget h2{
	background-color:transparent;
	padding:0px;
	border:0;
	text-shadow:none;
	background-image:none;
	background-repeat:no-repeat;
}

#footer .content{
	position:relative;
	padding-top:20px;
	width:960px;
	margin:0px auto;
}

#footer .widget ul{
	text-align:left;
	text-decoration:none;
	margin:7px 0px 8px 0px;
	list-style:none;
	border-top:1px solid #202020;
	padding:0;
}

#footer .widget ul li{
	border-bottom:1px solid #202020;
	margin:0;
	list-style:none;
	padding:6px 0 6px 0px;
}

#footer .widget ul li a:link, #footer .widget ul li a:visited{
	letter-spacing:normal;
	color:#efefef;
	text-transform:normal;
	font-style:normal;
	font-size:12px;
	font-family:Helvetica, Arial, sans-serif;
	text-decoration:none;
	font-weight:normal;
}

#footer .widget ul li a:hover{
}

input[type="submit"], input[type="button"], a.button{
	box-shadow:0 1px 2px #000000;
	cursor:pointer;
	border-radius:4px;
	text-align:center;
	color:#FFFFFF;
	font:bold 13px/100% Arial,Helvetica,sans-serif;
	-webkit-box-shadow:#000000 0 1px 2px;
	text-decoration:none;
	padding:0.55em 2em;
	outline:medium none;
	border:1px solid #0C4888;
}

input.medium[type="submit"] , input.medium[type="button"], a.button.medium{
	font:16px/100% Arial,Helvetica,sans-serif;
}

input.large[type="submit"] , input.large[type="button"], a.button.large{
	font:22px/100% Arial,Helvetica,sans-serif;
}

input.style1[type="submit"] , input.style1[type="button"], a.button.style1{
	color:#FFFFFF;
	background:-moz-linear-gradient(center top , #ff9040,#bf4000) repeat scroll 0 0 transparent;
	border:1px solid #e76818;
	background-image:-webkit-gradient(linear, 0 0%, 0 100%, from(#ff9040), to(#bf4000));
}

input.style2[type="submit"] , input.style2[type="button"], a.button.style2{
	color:#FFFFFF;
	background:-moz-linear-gradient(center top , #787878,#282828) repeat scroll 0 0 transparent;
	border:1px solid #505050;
	background-image:-webkit-gradient(linear, 0 0%, 0 100%, from(#787878), to(#282828));
}

input.red[type="submit"] , input.red[type="button"], a.button.red{
	color:#FFFFFF;
	background:-moz-linear-gradient(center top , #d02828,#800000) repeat scroll 0 0 transparent;
	border:1px solid #A80000;
	background-image:-webkit-gradient(linear, 0 0%, 0 100%, from(#d02828), to(#800000));
}

input.orange[type="submit"] , input.orange[type="button"], a.button.orange{
	color:#FFFFFF;
	background:-moz-linear-gradient(center top , #ffa728,#d75700) repeat scroll 0 0 transparent;
	border:1px solid #FF7F00;
	background-image:-webkit-gradient(linear, 0 0%, 0 100%, from(#ffa728), to(#d75700));
}

input.gold[type="submit"] , input.gold[type="button"], a.button.gold{
	color:#FFFFFF;
	background:-moz-linear-gradient(center top , #ffff28,#d7b700) repeat scroll 0 0 transparent;
	border:1px solid #FFDF00;
	background-image:-webkit-gradient(linear, 0 0%, 0 100%, from(#ffff28), to(#d7b700));
}

input.green[type="submit"] , input.green[type="button"], a.button.green{
	color:#FFFFFF;
	background:-moz-linear-gradient(center top , #28d028,#008000) repeat scroll 0 0 transparent;
	border:1px solid #00A800;
	background-image:-webkit-gradient(linear, 0 0%, 0 100%, from(#28d028), to(#008000));
}

input.cyan[type="submit"] , input.cyan[type="button"], a.button.cyan{
	color:#000000;
	background:-moz-linear-gradient(center top , #b2ffff,#62bfbf) repeat scroll 0 0 transparent;
	border:1px solid #8AE7E7;
	background-image:-webkit-gradient(linear, 0 0%, 0 100%, from(#b2ffff), to(#62bfbf));
}

input.lightblue[type="submit"] , input.lightblue[type="button"], a.button.lightblue{
	color:#FFFFFF;
	background:-moz-linear-gradient(center top , #28e7ff,#0097d7) repeat scroll 0 0 transparent;
	border:1px solid #00BFFF;
	background-image:-webkit-gradient(linear, 0 0%, 0 100%, from(#28e7ff), to(#0097d7));
}

input.blue[type="submit"] , input.blue[type="button"], a.button.blue{
	color:#FFFFFF;
	background:-moz-linear-gradient(center top , #7171d0,#212180) repeat scroll 0 0 transparent;
	border:1px solid #4949A8;
	background-image:-webkit-gradient(linear, 0 0%, 0 100%, from(#7171d0), to(#212180));
}

input.rose[type="submit"] , input.rose[type="button"], a.button.rose{
	color:#FFFFFF;
	background:-moz-linear-gradient(center top , #d071a0,#802150) repeat scroll 0 0 transparent;
	border:1px solid #A84978;
	background-image:-webkit-gradient(linear, 0 0%, 0 100%, from(#d071a0), to(#802150));
}

input.dark[type="submit"] , input.dark[type="button"], a.button.dark{
	color:#FFFFFF;
	background:-moz-linear-gradient(center top , #484848,#000000) repeat scroll 0 0 transparent;
	border:1px solid #202020;
	background-image:-webkit-gradient(linear, 0 0%, 0 100%, from(#484848), to(#000000));
}

pre, code, tt{
	border-radius:5px 5px 5px 5px;
	color:#888888;
	font:12px/1.5 'andale mono','lucida console', monospace;
	overflow:auto;
	background-color:#eeeeee;
	display:block;
	word-wrap:break-word;
	padding:20px;
	border:1px solid #CCCCCC;
}

.five-sixths,.four-fifths,.four-sixths,.one-fifth,.one-fourth,.one-half,.one-sixth,.one-third,.three-fifths,.three-fourths,.three-sixths,.two-fifths,.two-fourths,.two-sixths,.two-thirds{
	padding-left:3%;
	margin:0 0 20px;
	float:left;
}

.one-half,.three-sixths,.two-fourths{
	width:48%;
}

.one-third,.two-sixths{
	width:31%;
}

.four-sixths,.two-thirds{
	width:65%;
}

.one-fourth{
	width:22.5%;
}

.three-fourths{
	width:73.5%;
}

.one-fifth{
	width:17.4%;
}

.two-fifths{
	width:37.8%;
}

.three-fifths{
	width:58.2%;
}

.four-fifths{
	width:78.6%;
}

.one-sixth{
	width:14%;
}

.five-sixths{
	width:82%;
}

.first{
	padding-left:0;
	clear:both;
}

.tablebox{
	border-collapse:collapse;
	text-align:left;
	width:100%;
	font-size:12px;
}

.tablebox th{
	color:#000000;
	background:#CCCCCC;
	font-size:13px;
	border-bottom:1px solid #DDDDDD;
	font-weight:normal;
	border-top:2px solid #aeaeae;
	padding:8px;
}

.tablebox td{
	background:#EEEEEE;
	border-bottom:1px solid #DDDDDD;
	border-top:1px solid transparent;
	padding:8px;
}

.tablebox tr:hover td{
	background:#dadada;
}

.columny{
	border-collapse:collapse;
	text-align:left;
	width:100%;
	font-size:12px;
}

.columny th{
	border-right:1px solid #DDDDDD;
	font-size:14px;
	font-weight:normal;
	padding:12px 15px;
	border-left:1px solid #DDDDDD;
}

.columny td{
	border-right:1px solid #DDDDDD;
	padding:8px 15px;
	border-left:1px solid #DDDDDD;
}

.columny-odd{
	background:#EEEEEE;
}

.columny-even{
	background:#e9e9e9;
}

.columny-th-odd{
	background:#dadada;
}

.columny-th-even{
	background:#d0d0d0;
}

.minimalist{
	border-collapse:collapse;
	text-align:left;
	width:100%;
	font-size:12px;
}

.minimalist th{
	font-size:14px;
	border-bottom:2px solid #CCCCCC;
	font-weight:normal;
	padding:10px 8px;
}

.minimalist td{
	padding:9px 8px 0px 8px;
}

.minimalist tbody tr:hover td{
	color:#CCCCCC;
}


.theme-thumb {
    float:left;
    margin:30px 30px 0 0 ;
    width:300px;
    padding:0px;
    text-align:center;
	overflow:hidden;
	position:relative;
}


.theme-thumb.last {
	margin-right:0
}

.theme-thumb-img, .theme-thumb-shade {
	width:100%;
} 

.theme-thumb-shade {
	height:10px;
	margin:0 auto;
	padding:0;
	background-image:url(thumbnail-shade.png) ;
}


.theme-thumb .caption {
    width:300px;
    height:100px;
    color:#fff;
         
    /* fix it at the bottom */
    position:absolute;
    top:120px; /* fix IE issue */
    left:0px; 
    /* hide it by default */
    display:none;
 

}



.theme-thumb .button {
	padding: 0.4em 1.3em;
	border-radius: 12px;
	width:140px;
	margin-top:10px;
}


.wp-pagenavi {
	padding:15px;
	text-align:center;
}

.wp-pagenavi a, .wp-pagenavi span {
	padding:7px 9px !important;
	background-color:#E5E5E5;
	border:1px solid #CCC;
	background-image: -ms-linear-gradient(bottom, #CCCCCC 0%, #EEEEEE 100%);
	background-image: -moz-linear-gradient(bottom, #CCCCCC 0%, #EEEEEE 100%);
	background-image: -o-linear-gradient(bottom, #CCCCCC 0%, #EEEEEE 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #CCCCCC), color-stop(1, #EEEEEE));
	background-image: -webkit-linear-gradient(bottom, #CCCCCC 0%, #EEEEEE 100%);
	background-image: linear-gradient(to top, #CCCCCC 0%, #EEEEEE 100%);	
}

.wp-pagenavi span.current {
    font-weight: bold;
    background-color:#47AACA;
    background-image:none;
    color:white;
    border:1px solid #444 !important;
}


.theme-image-shade {
	height:22px;
	width:100%;	
	margin:0;
	padding:0;
	background-image:url(theme-shade.png) ;
}


.feature-bloc {
	text-align:center;
}


.feature-bloc p {
	text-align:justify;
}


.feature-bloc h1 {
}







