.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

.group:before, .group:after {
    content:"";
    display:table;
}

.group:after {
    clear:both;
}


.group {
    zoom:1; 
}

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}

.col:first-child { 
	margin-left: 0; 
}


.span_2_of_2 {
	width: 100%;
}

.span_1_of_2 {
	width: 49.2%;
}


.span_3_of_3 {
	width: 100%; 
}

.span_2_of_3 {
	width: 66.13%; 
}

.span_1_of_3 {
	width: 32.26%; 
}

.span_4_of_4 {
	width: 100%; 
}

.span_3_of_4 {
	width: 74.6%; 
}

.span_2_of_4 {
	width: 49.2%; 
}

.span_1_of_4 {
	width: 23.8%; 
}

.span_5_of_5 {
	width: 100%;
}

.span_4_of_5 {
  	width: 79.68%; 
}

.span_3_of_5 {
  	width: 59.36%; 
}

.span_2_of_5 {
  	width: 39.04%;
}

.span_1_of_5 {
  	width: 18.72%;
}


@media only screen and (max-width: 480px) {

.col { 
	margin: 1% 0 1% 0%;
}

.span_2_of_2 {
	width: 100%; 
}

.span_1_of_2 {
	width: 100%; 
}
	
.span_3_of_3 {
	width: 100%; 
}

.span_2_of_3 {
	width: 100%; 
}

.span_1_of_3 {
	width: 100%;
}

.span_4_of_4 {
	width: 100%; 
}

.span_3_of_4 {
	width: 100%; 
}

.span_2_of_4 {
	width: 100%; 
}

.span_1_of_4 {
	width: 100%; 
}

.span_5_of_5 {
	width: 100%; 
}

.span_4_of_5 {
	width: 100%; 
}

.span_3_of_5 {
	width: 100%; 
}

.span_2_of_5 {
	width: 100%; 
}

.span_1_of_5 {
	width: 100%; 
}

	
}


.tablebox {
	font-size: 12px;
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}


.multisel {
	background: #1e5799;
	background: -moz-linear-gradient(top,  #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8));
	background: -webkit-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
	background: -o-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); 
	background: -ms-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); 
	background: linear-gradient(to bottom,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 );
}

@media only screen and (max-width: 480px) {
	.span_2_of_2 {
		padding:5px;
	}
}
