.x-component *, 
.x-tab-strip span.x-tab-strip-text,
.gwt-Label,
.gwt-Button {
	font-family:arial;
}


.gwt-Label, .x-btn button {
	font-weight:bold;
	font-size:11px;
}	


.x-window-mc {
	background-color:#FFFFFF;
}


.x-window-body x-border-layout-ct, .x-border-layout-ct {
	background:#FFFFFF;	
	padding:10px;
}	



.x-modal {
	background-color:white;
	filter:alpha(opacity=50);
  	opacity:0.5;
  	-moz-opacity: 0.5; 
}


.x-window-header {
	text-align:center;
}

.x-tab-strip span.x-tab-strip-text {
	font-size:13px;
	font-weight:bold;
}


.x-fieldset, input, input.gwt-FileUpload {
	border: 1px solid #ccc ;
	padding:2px;
	background-color:#eee;
}


.x-btn td {
	vertical-align:top;
}

.x-tab-strip-active span.x-tab-strip-text {
	color:#000000;
}



.disabled {
	filter:alpha(opacity=90);
	-moz-opacity: 0.9; 
	opacity: 0.9;	
	cursor:default;
}



.ez-icon-btn {
	cursor:pointer ;
	margin:0;
	padding:0;
}



.ez-controlPanel {
	padding:0px;
	z-index:5;
	position:fixed;
	width:100%;
	border-bottom:2px solid #AAAAAA;
	margin:0 0 0 -1px;	
}


.ez-controlPanel .x-toolbar {
	margin:0;
	padding:0;
}	


.ez-controlPanel .x-btn {
	height:74px;
	width:75px;
}

.x-btn-group-header {
	margin:3px 0px 0px 0px;
	border-radius: 2px 2px 0 0;
	-moz-border-radius: 2px 2px 0 0 ;
	padding:0px;
}	

span.x-btn-group-header-text {
	font-size:12px;
}

.ez-set-select {
	background-color:#FFFFBB;
}


.ez-set-select-bold span.x-btn-group-header-text {
	font-weight:bold ;
}



.x-window .x-btn button {
	color:#15428B;
	font-weight: bold;
	font-size: 11px;
}


.hl {
	background:url('anim-select.gif') ;
	z-index:1;
}


.ez-chooser {
	background-color:#FFFFFF ;
}


.ez-chooser h2 {
	padding:7px;
	color:#15428B;
	clear:both;
	width:97%;
	font-size:14px;
	font-weight:bold;
	background-color:#EEEEEE;
	border-top:1px solid #CCC;
	border-bottom:1px solid #CCC;
	text-align:center;
}


.ez-chooser-item {
	margin:10px;
	padding:8px;
	float:left;	
	cursor:pointer;
	position:relative;
	border:1px solid white ;
}

.ez-chooser-item.disable {
	cursor:default;
	opacity:0.7;
} 

.ez-chooser-item.active,
.ez-chooser-item:hover {
	background-color:#DFECFB;
	border:1px solid #8DB2E3 ;
}

.ez-chooser-item img.imageResource, 
.ez-chooser-item .ez-scheme {
	-moz-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow:  0 0 3px #AAA;
	-webkit-box-shadow:  0 0 3px #AAA;
	box-shadow:  0 0 3px #AAA;
}

.ez-headingfont {
	background-clor:white;
}


.ez-chooser-item .ez-scheme {
	-moz-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow:  0 0 3px #AAA;
	-webkit-box-shadow:  0 0 3px #AAA;
	box-shadow: 0 0 3px #AAA;	
	
}


.ez-chooser-item img.lock,
.ez-chooser-item img.check {
	position:absolute;

	-moz-border-radius: 0px;
	border-radius: 0px;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;	
}

.ez-chooser-item img.lock {
	top:4px;
	right:-5px;	
}

.ez-chooser-item img.check {
	top:4px;
	right:2px;	
}	





.ez-svgfont-selector .ez-chooser-item {
	margin:0 0 0 3px;
	padding:0px;
	float:left;	
	cursor:pointer;
	position:relative;
}


.ez-svgfont-selector .ez-chooser-item img {
	-moz-border-radius: 0px;
	border-radius: 0px;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;	
}


.ez-color-picker {
	margin:10px;
}	


.ext-el-mask {
	filter:alpha( opacity=0 ); 
	-moz-opacity: 0.0; 
	opacity: 0.0;
}


.ez-layer img  {
	margin:0;
	cursor:move;
	padding:0 ;
	background:transparent ;
	bborder:1px solid #00FF00;	
}

.ez-layer img.selected {
	border:2px dashed gold ;
}


.ez-layer .x-panel-body ,.ez-layer .x-panel-body-noheader {
	background:transparent;	
	border:none;
}


.ez-canvas-editor-dock {
	border-bottom:1px solid #99BBE8;
}


.ez-canvas-text-input {
	border: 1px solid #ccc;
	background-color:#eee;
	padding:5px;
	font-size:16px ;
}

.ez-canvas-text-label {
	color:#15428B;
	font-size:16px;
	font-weight:bold;
	line-height:30px;
}	


.ez-edit-panel .x-panel-body {
	border:none;
	border-left:1px solid #CCC; 
}


.ez-graphic-editor {
	margin: 20px 0 50px 30px;
}

.ez-graphic-editor .x-btn {
	margin-right:15px;
}


#ez-canvas-toolbar .x-btn-mc em.x-btn-arrow-bottom {
	padding-bottom:0px;
}


.ez-upload-dialog {
	background:url('upload.png') top right no-repeat ;	
}	

.ez-tag-selector-panel select {
	font-size:12px;
}

.ez-drawboard-preview-size-label {
	margin:0px 0px 0px 10px;
	font-weight:bold ;  
}


.ez-drawboard-scroll {
	borde:1px inset #CCC ;
}


.ez-drawboard-scroll, 
.ez-drawboard-scroll .x-panel-body {
	background-color:#EEE;
	width:100%;
}

.ez-drawboard-scroll .x-panel-body {
	border:none;
}


.ez-drawboard-preview  {
	background:url('transparent-bg.png') ;
	border:1px solid #CCC;
}

.ez-drawboard-preview .x-panel-body {
	background:transparent;
}


.ez-canvas-layer-selector {
	width:220px;
}


.ez-canvas-layer-selector .x-panel-body {

}


.ez-canvas-layer-button {
	border-color:#A9BFD3;
	background:url("../gxt/images/default/toolbar/bg.gif") repeat-x scroll left top #D0DEF0;
	border-style:solid;
	border-width:0 0 1px;
	width:100%;
	line-height:35px;
	cursor:pointer;
}

.ez-canvas-layer-button .gwt-HTML {
	color:#15428B;
	margin-left:10px;
	font-weight:bold;
}

.ez-canvas-layer-selector .active {
	background-image:none;
	background-color:#FFFFCC;
}

.ez-drawboard-fadeTopBtn,
.ez-drawboard-fadeTopBtn-down,
.ez-drawboard-fadeBottomBtn,
.ez-drawboard-fadeBottomBtn-down,
.ez-drawboard-fadeLeftBtn,
.ez-drawboard-fadeLeftBtn-down,
.ez-drawboard-fadeRightBtn,
.ez-drawboard-fadeRightBtn-down {
	width:32px;
	height:32px;
	cursor:pointer;
}	

.ez-drawboard-fadeTopBtn {
	background:url('fadeTopBtn.jpg') ;
}

.ez-drawboard-fadeTopBtn-down, .ez-drawboard-fadeTopBtn-up-hovering, .ez-drawboard-fadeTopBtn-down-hovering {
	background:url('fadeTopBtnDown.jpg') ;
}

.ez-drawboard-fadeBottomBtn {
	background:url('fadeBottomBtn.jpg') ;
}

.ez-drawboard-fadeBottomBtn-down, .ez-drawboard-fadeBottomBtn-up-hovering, .ez-drawboard-fadeBottomBtn-down-hovering {
	background:url('fadeBottomBtnDown.jpg') ;
}

.ez-drawboard-fadeRightBtn {
	background:url('fadeRightBtn.jpg') ;
}

.ez-drawboard-fadeRightBtn-down, .ez-drawboard-fadeRightBtn-up-hovering, .ez-drawboard-fadeRightBtn-down-hovering {
	background:url('fadeRightBtnDown.jpg') ;
}

.ez-drawboard-fadeLeftBtn {
	background:url('fadeLeftBtn.jpg') ;
}

.ez-drawboard-fadeLeftBtn-down, .ez-drawboard-fadeLeftBtn-up-hovering, .ez-drawboard-fadeLeftBtn-down-hovering {
	background:url('fadeLeftBtnDown.jpg') ;
}

.ez-scheme {
	height:42px;
	padding:8px;
}


.ez-scheme-color-panel {
	float:left;
	margin:2px ;
	width:36px;
	height:36px;
	border:1px solid #000;
}

.ez-linkLabel {
	font-weight:bold;
	color:blue;
	float:left;
	cursor:pointer;
	text-decoration:underline;
}


.ez-color-property-panel-preview {
	border:1px solid black;
	cursor:pointer;
	vertical-align:bottom;
	margin:0;
	margin-left:4px;
}



.ez-loader {
	background-color:transparent;
	height:100px;
	width:100px;
	margin-left:-50px;
	margin-top:-50px;
	position:absolute;
	top:50%;
	left:50%;
	z-index:10000;
}


.ez-dwld-frame {
	display:block;
	border:0 ;
	overflow:hidden;
}


.ez-right-panel {
	margin:5px 7px 0px 0px;
}


.ez-right-panel .gwt-HTML {
	margin-top:7px;
	color:#444;
	font-size:11px;
	height:100px;
	text-align:center;
}	

.ez-toolbar {
	font-size:12px;
	border-color:#A9BFD3;
	background:url("../gxt/images/default/toolbar/bg.gif") repeat-x scroll left top #D0DEF0;
	border-style:solid;
	border-width:0 0 1px;
}


.ez-tip {
	margin:20px;
	color:#444;
	font-size:14px;
}


.gwt-TextBox {
	padding:3px;
	color:#444;
	font-weight:bold;
	font-size:12px;
}


.ez-dialog {
    color: #404040;
    font-size: 13px;
    font-weight: normal;
	text-align:center;
	margin:15px auto 0 auto;
}

.ez-dialog h4 {
    font-size: 32px;
    padding-bottom:20px;
	margin-bottom:20px;
	border-bottom:1px dotted #CCCCCC;	
}

.ez-dialog  h4 span {
    font-weight: bold;
}


.ez-dialog  ul.ez-features {
	float:left;
    list-style: none outside none;
    margin: 0;
    padding: 0;
	width:400px;
}


.ez-dialog  ul.ez-features li {
	clear:both;	
	text-align:left;
    list-style: none outside none;
	height:90px;
}

.ez-dialog  ul.ez-features li h4 {
	font-weight:bold;
	font-size: 18px;
	margin:0;
	padding:0;
	border:0;
}

.ez-dialog  ul.ez-features li h4.highlight {
	color:#E60000 ;
}


.ez-dialog  ul.ez-features li div {
	float:right;
	width:300px;
}




.ez-dialog  ul.ez-features li img {
	float:left;
	margin:0 10px 30px 0 ;
	height:60px;
}


.ez-dialog  .buttons-ctnr {
	border-top:1px dotted #CCCCCC;
	padding:20px;
	clear: both;
    margin: 20px auto;
    padding: 20px;
    
}


.ez-dialog  .buttons-ctnr div {
   text-align: center;
   width:auto;
   vertical-align:top;
}


.ez-dialog .buttons-ctnr  .gwt-Image {
	margin:20px 20px 0 20px;
	cursor:pointer;
}

