#wpmarker( "wp-header-end" )

$_wp.getExportResources().parse( "functions.php", "$s.path/wp/functions.php" ) 

<div #blocAttributes( $s )>

	#html( $s.bg )
	
	<div class="section group <?php echo $dtLayoutClass; ?>">
		
		<?php 
			
			global	$dtLayoutClass ;
			
			if ( $dtLayoutClass == "sm"  ) 	{$spanClass = "span_1_of_4" ;}
			if ( $dtLayoutClass == "sms" ) 	{$spanClass = "span_1_of_5" ;}
		?>
		
		
		<?php if ( $dtLayoutClass == "sm"  || $dtLayoutClass == "sms" ) : ?>
			<div class="col <?php echo $spanClass; ?>">
 				<?php get_sidebar(); ?>
 			</div>
		<?php endif; ?>
		

		#wpmarker( "wp-loop-begin" )
	
		<!-- MAIN COLUMN --> 	

		<?php
			
			global $dtLayoutClass ;
			global $dtPostLayout;
		
			if ( $dtLayoutClass == "sm" ) 	{$spanClass = "span_3_of_4" ;}
			if ( $dtLayoutClass == "sms" ) 	{$spanClass = "span_3_of_5" ;}  
			if ( $dtLayoutClass == "mss" ) 	{$spanClass = "span_3_of_5" ;}
			if ( $dtLayoutClass == "ms"  )	{$spanClass = "span_3_of_4" ;}					
		?>	

		<?php if ( $dtLayoutClass != "m" ): ?>
			<div class="col <?php echo $spanClass; ?>">
		<?php endif; ?>

				
		#html( $main )

		<?php if ( $dtLayoutClass != "m" ): ?>
			</div>
		<?php endif; ?>
		
		
		<!-- END MAIN -->
		
		
		#wpmarker( "wp-loop-end" )

		<?php global $dtLayoutClass ; ?>	


		<?php if ( $dtLayoutClass == "sms" ): ?>
			<div class="col span_1_of_5">
		 		<?php get_sidebar2(); ?>
		 	</div>
		<?php endif; ?>

		<?php if ( $dtLayoutClass == "ms" ): ?>
			<div class="col span_1_of_4">			
		 		<?php get_sidebar(); ?>
		 	</div>
		<?php endif; ?>

		<?php if ( $dtLayoutClass == "mss" ): ?>
			<div class="col span_1_of_5">
		 		<?php get_sidebar(); ?>
		 	</div>
			<div class="col span_1_of_5">
		 		<?php get_sidebar2(); ?>
		 	</div>
		<?php endif; ?>


		#wpmarker( "wp-sidebar-begin" )
		
		#set( $currentSidebar = 1 ) 	
		#html( $sidebar )
		
		#wpmarker( "wp-sidebar-end" )
		
		#wpmarker( "wp-sidebar-2-begin" )
		
		#set( $currentSidebar = 2 )
		#html( $sidebar2 )
		
		#wpmarker( "wp-sidebar-2-end" )

		<div class="clear" style="height:60px"></div>

	</div>
	
</div>


#wpmarker( "wp-footer-begin" )
