## Glow filter
<filter id="filterGlow_${s.name}_$id" filterRes="200" x="-.2" y="-.2" width="1.4" height="1.4">
    <feGaussianBlur stdDeviation="3 3" result="blurred"/>
    <feMerge>
        <feMergeNode in="blurred" />
        <feMergeNode in="blurred" />
        <feMergeNode in="blurred" />
    </feMerge>
</filter>
	
<text id="fxGlow_${s.name}_$id" 
	x="0" 
	y="0" 
	font-family="$s.fontFamily" 
	font-size="$s.fontSize" 
	fill="white"
	filter="url(#filterGlow_${s.name}_$id)">$_.escapeXML($s.value)</text>
	
