#svg_begin($width $height)

$s.setValue( $s.thumbnailText ) 

#set( $baseline = "$_.computeBaseline($s)" )

#set ( $bgUrl = $Helper.realPath( "WEB-INF/templates/_symbols/text/abstract/${s.thumbnailBg}.jpg" ) )

#include("_fonts/${s.fontFamily}.svg" )

<g>

<image 
	x="10" 
	y="10" 
	width="400"
	height="90"
	xlink:href="file:$bgUrl" 
/>
	
<g transform="translate($s.thumbnailX $s.thumbnailY)">
#draw ( $s )
</g>

</g>

#svg_end()
