/*
Theme Name: doTemplate child theme
Theme URI: http://www.dotemplate.com
Template: dt3
Author: doTemplate - Thierry Ruiz
Author URI: http://www.dotemplate.com
Description: Generated template created with doTemplate online editor
Version: 1.0
License: GNU General Public License
License URI: 
Tags: custom-background, custom-colors, custom-header, custom-menu
*/

@import url("../dt3/style.css");


#page .layout-m #main {
    margin: 0 auto;
    width: 100%;
}


.steps {
	text-align:center;
}

.theme-thumb {
    float:left;
    margin:30px 30px 0 0 ;
    width:300px;
    padding:0px;
    text-align:center;
	overflow:hidden;
	position:relative;
}


.theme-thumb.last {
	margin-right:0
}

.theme-thumb-img, .theme-thumb-shade {
	width:100%;
} 

#main div.theme-thumb {
	line-height:1em  ;
}

.theme-thumb-shade {
	height:10px;
	margin:0 auto;
	padding:0;
	background-image:url(thumbnail-shade.png) ;
}


.theme-thumb .caption {
    width:300px;
    height:100px;
    color:#fff;
         
    /* fix it at the bottom */
    position:absolute;
    top:120px; /* fix IE issue */
    left:0px; 
    /* hide it by default */
    display:none;
 

}



.theme-thumb .button {
	padding: 0.4em 1.3em;
	border-radius: 12px;
	width:140px;
	margin-top:10px;
}


.wp-pagenavi {
	padding:15px;
	text-align:center;
}

.wp-pagenavi a, .wp-pagenavi span {
	padding:7px 9px !important;
	background-color:#E5E5E5;
	border:1px solid #CCC;
	background-image: -ms-linear-gradient(bottom, #CCCCCC 0%, #EEEEEE 100%);
	background-image: -moz-linear-gradient(bottom, #CCCCCC 0%, #EEEEEE 100%);
	background-image: -o-linear-gradient(bottom, #CCCCCC 0%, #EEEEEE 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #CCCCCC), color-stop(1, #EEEEEE));
	background-image: -webkit-linear-gradient(bottom, #CCCCCC 0%, #EEEEEE 100%);
	background-image: linear-gradient(to top, #CCCCCC 0%, #EEEEEE 100%);	
}

.wp-pagenavi span.current {
    font-weight: bold;
    background-color:#47AACA;
    background-image:none;
    color:white;
    border:1px solid #444 !important;
}


.theme-image-shade {
	height:22px;
	width:100%;	
	margin:0;
	padding:0;
	background-image:url(theme-shade.png) ;
}





