<p>
<!-- Update your organization copyright -->
Copyright - $year - Your Organization | All Rights Reserved 
</p>
<p style="font-size:0.9em;line-height:3em">
#backlink() 
</p>
<div>
  	<ul class="social-links">
  		<li>
  			<a href="#" $voidlink rel="nofollow" style="background-image:url('$_.image("categories/all/icons/$s.socialIconSet/facebook.png")')">
  				Be a fan on Facebook
  			</a>
  		</li>
  		<li>
  			<a href="#" $voidlink rel="nofollow" style="background-image:url('$_.image("categories/all/icons/$s.socialIconSet/twitter.png")')">
  				Follow us on Twitter
  			</a>
  		</li>
  		<li>
  			<a href="#" $voidlink style="background-image:url('$_.image("categories/all/icons/$s.socialIconSet/googleplus.png")')">
  				Circle us on Google+
  			</a>
  		</li>
  		<li>
  			<a href="#" $voidlink rel="nofollow" style="background-image:url('$_.image("categories/all/icons/$s.socialIconSet/rss.png")')">
  				RSS Feed
  			</a>
  		</li>
	</ul>
</div>

