<li>SEO company website template</li> 
<li>Software company website template</li> 
<li>IT service provider website template</li>
<li>Telecommuncations and high-tech website template</li>
<li>Business, consulting services website template</li>
