#set ( $id = $_.id() ) 

#set($w = 100) 
#set($h = 30)
#set($bottomBorderY = $h - 1 )


#set ( $hDiv2 = $h / 2 ) 

#svg_begin( $w $h )

<g>

	<defs>
	
	    <!--gloss gradient for the top highlight-->		    
	    <linearGradient id="gloss" x1="0%" y1="90%" x2="0%" y2="0%">
			<stop offset="0%" stop-color="white" stop-opacity="0.5"/>
			<stop offset="100%" stop-color="white" stop-opacity="0.7" />
	    </linearGradient>
	
	    <linearGradient id="fillgradient" x1="0%" y1="0%" x2="0%" y2="100%">
			<stop offset="0%" stop-color="$s.bgColor" stop-opacity="0.7"/>
			<stop offset="100%" stop-color="$s.bgColor" stop-opacity="1.0" />
	    </linearGradient>
	</defs>		
		
	<!-- fill -->				
	<rect  x="0" y="0" width="$w" height="$h" fill="url(#fillgradient)" />

	<!-- gloss -->
	<rect  x="0" y="0" width="$w" height="$hDiv2" fill="url(#gloss)" fill-opacity="0.4" />	
	
	
	<rect  x="0" y="1" width="$w" height="1" fill="#brighter($s.bgColor 60)" />
	<rect  x="0" y="$bottomBorderY" width="$w" height="1" fill="#darker($s.bgColor 30)" />





</g>

#slicePng( "${s.selector}-bg" 0 0 2 $h 1.0 )

#svg_end()
