$_wp.addContentToFile("functions.php", "sidebar", "_includes/wp/sidebars/register-sidebar1.php")

#wpmarker( "wp-header-end" )

<div id="page" #if($s.inlineStyle) style="$s.inlineStyle" #end>
	
	<!-- MAIN COLUMN --> 	
	
	#html( $main )
	
	<!-- END MAIN -->
	
	#wpmarker("wp-sidebar-begin")
	
	<!-- SIDEBAR  -->

	#set( $currentSidebar = 1 )
	#html( $sidebar )

	<!-- END SIDEBAR  -->

	#wpmarker( "wp-sidebar-end" )
	
	<div class="clear" style="height:60px"></div>	
	
	
</div>
