<!DOCTYPE html>

<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>doTemplate - ReadMe</title>
  
  <style>
  <!--
  	body 	{font-family:helvetica;color:444;font-size:11px} 
  	h2 		{font-weight:bold:font-size:16px;color:darkblue;}
   -->
  </style>
</head>
	<body>
		<h2>Thank You For Your Purchase</h2>
		
		<div id="content">
		
			After purchase, your template can be be edited and downloaded here: 		
			
			<p>
				<a href="${permalink}">${permalink}</a>
			</p>
			
			<p>
				Please keep this address personal. Do not share it you can download your template up to ${maxDownloads} times.
			</p>

			<p>
				We provide email support. If you experience any issue please email us at ${supportEmail}.
			</p>

			<p>
				Thanks again !
			</p>
			
			<p>
				doTemplate team.
			</p>			
			
		</div>
		
	</body>
	
</html>
