

.dt_wrap{
	width:800px;
}

.dt_section{
	border:1px solid #ddd;
	border-bottom:0;
	background:#f9f9f9;
}

.dt_opts label{
	font-size:12px;
	font-weight:700;
	width:200px;
	display:block;
	float:left;
}

.dt_input {
	padding:30px 10px;
	border-bottom:1px solid #ddd;
	border-top:1px solid #fff;
}

.dt_upload_button {
	padding:5px;
}

.dt_upload img {
	margin-right:20px;
}


.dt_opts small{
	display:block;
	float:right;
	width:200px;
	color:#999;
}

.dt_opts input[type="text"], .dt_opts select{
	width:280px;
	font-size:12px;
	padding:4px;
	color:#333;
	line-height:1em;
	background:#f3f3f3;
}

.dt_input input:focus, .dt_input textarea:focus{
		background:#fff;
}


.dt_input textarea{
	width:280px;
	height:175px;
	font-size:12px;
	padding:4px;
	color:#333;
	line-height:1.5em;
	background:#f3f3f3;
}


.dt_opts input[type="submit"] {
	margin:15px ;
}


