/*
Theme Name: doTemplate theme
Theme URI: http://www.dotemplate.com
Author: doTemplate - Thierry Ruiz
Author URI: http://www.dotemplate.com
Description: Generated template created with doTemplate online editor
Version: 1.0
License: GNU General Public License
License URI: http://www.dotemplate.com 
Tags: custom-background, custom-colors, custom-header, custom-menu
*/


/*
----------------------------------------------------------------------------------------

Copyright 2007-2014 - Thierry Ruiz - www.dotemplate.com - All rights reserved.

THIS TEMPLATE IS FREE FOR PERSONAL USE ONLY AS LONG AS YOU KEEP LINK UNMODIFIED TO WWW.DOTEMPLATE.COM IN THE FOOTER.

FOR COMMERCIAL USE YOU MUST PURCHASE IT

----------------------------------------------------------------------------------------
*/


/*
YUI 3.17.2 (build 9c3c78e)
Copyright 2014 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
http://yuilibrary.com/license/
*/
html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,
acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%}
legend{color:#000}#yui3-css-stamp.cssreset{display:none}


a img {
	border:none;
}

a:link,a:visited {
	text-decoration:none;
}

.clear {
	clear:both;
	height:0;
	visibility:hidden;
	width:0;
	overflow:hidden;
	display:block;
}

html {
	overflow-Y:scroll;
	overflow-X:hidden;
	margin:0;
}

#top {
	position:relative;
	height:60px;
	width:100%;
	background-color:#ffffff;
	background-image:none;
	background-repeat:repeat-all;
}

#logo {
	position:relative;
	height:60px;
	width:320px;
	background-color:transparent;
	margin:0 auto;
	float:left;
	background-position:center top;
	background-image:url('images/css/logo.png');
	background-repeat:no-repeat;
}

#hmenu {
	position:relative;
	border-radius:0px;
	background-color:transparent;
	display:inline-block;
	font-weight:bold;
	float:right;
	height:40px;
	text-transform:uppercase;
	font-size:11px;
	font-family:arial;
	margin:10px 0px 0 0;
	background-image:none;
	background-repeat:no-repeat;
}

#hmenu > ul {
	line-height:40px;
	text-align:left;
}

#hmenu ul li {
	position:relative;
	zoom:1;
	float:left;
	*display:inline;
}

#hmenu ul > li > a {
	display:block;
	padding:0 30px;
}

#hmenu ul li:hover ul {
	display:block;
	z-index:20;
}

#hmenu ul ul {
	position:absolute;
	line-height:1em;
	width:180px;
	left:0;
	display:none;
}

#hmenu ul ul li {
	width:100%;
}

#hmenu ul ul li a {
	display:block;
	padding:15px;
}

#hmenu-mobile {
	position:absolute;
	height:50px;
	/* Hide from browsers that don't support media queries */cursor:pointer;
	width:50px;
	display:none;
	right:0;
	top:0;
}

.nav-click {
	position:absolute;
	cursor:pointer;
	height:45px;
	width:50px;
	display:none;
	right:0;
	top:0;
}

.nav-click i {
	height:45px;
	width:48px;
	background-color:none;
	display:block;
	background-position:center center;
	background-repeat:no-repeat;
	background-image:url('images/css/hmenu-arrow.png');
}

.nav-rotate {
	transform:rotate(180deg);
	-o-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
}

#hmenu > li a:hover {
	background-color:#606060;
	background-image:none;
	background-repeat:no-repeat;
	background-position:center top;
}

#hmenu li a:link,#hmenu li a:visited {
	color:#171717;
}

#hmenu ul li a:hover,#hmenu ul li a:active {
	border-radius:5px;
	color:#FFFFFF;
	text-shadow:0 0 10px #FFFFFF;
}

#hmenu ul li ul li a:hover,#hmenu ul li ul li a:active {
	border-radius:0;
}

#hmenu ul li ul li:first-child,#hmenu ul li ul li:first-child a:hover {
	border-radius:5px 5px 0 0;
}

#hmenu ul li ul li:last-child,#hmenu ul li ul li:last-child a:hover {
	border-radius:0 0 5px 5px;
}

#hmenu ul li ul li a:hover {
	background-color:#747474;
}

#hmenu li ul li {
	background-color:#606060;
}

#hmenu  li ul li a:link, #hmenu  li ul li a:visited {
	color:#FFFFFF;
}

#hmenu ul > li > a,#hmenu ul > li:last-child > a, #hmenu ul > li.lastChild > a {
	border:none;
}

.nav-click:hover {
	background-color:#747474;
}

#top > .overlay {
	display:none;
	background-image:none;
}

#top .content {
	position:relative;
	width:960px;
	margin:0 auto;
}

#header-wrapper {
	position:relative;
	height:400px;
	width:100%;
	background-color:#d9d9d9;
	background-image:none;
	background-repeat:repeat-all;
}

#header {
	position:relative;
	height:400px;
	width:960px;
	background-color:transparent;
	margin:0 auto;
	background-position:center top;
	background-image:url('images/css/header.png');
	background-repeat:no-repeat;
}

#header-wrapper > .overlay {
	display:none;
	background-image:none;
}

#wrapper {
	position:relative;
	height:auto !important;
	width:100%;
	background-color:#FFFFFF;
	border-top:none;
	min-height:500px;
	background-image:none;
	background-repeat:repeat-all;
}

#wrapper > .overlay {
	display:none;
	background-image:none;
}

#wrapper > .border-bottom {
	position:absolute;
	height:10px;
	width:100%;
	background-color:transparent;
	bottom:0;
	background-repeat:repeat-x;
	background-image:url('images/css/wrapper-borderBottom.png');
	background-position:center bottom;
}

#container {
	position:relative;
	width:960px;
	margin:0 auto;
}

#page {
	width:960px;
	margin:0 auto;
	min-height:700px;
}

#main {
	position:relative;
	padding-top:40px;
	color:#4D4D4D;
	text-transform:default;
	font-size:12px;
	font-style:normal;
	width:100%;
	font-family:Arial,Helvetica,sans-serif;
}

#main p, #main div, #main td {
	line-height:2em;
	letter-spacing:normal;
}

#main h1, #main h2, #main h3, #main h4, #main h5, #main h6 {
	line-height:1em;
}

#main p a:link, #main p a:visited {
	color:#4D4D4D;
	text-decoration:none;
	font-weight:bold;
}

#main p a:hover {
	color:#404040;
}

#main h1, #main h1 a:link, #main h1 a:visited {
	letter-spacing:1px;
	color:#404040;
	text-transform:none;
	font-style:normal;
	font-size:50px;
	font-family:'Roboto Condensed', sans-serif;
	font-weight:400;
}

#main h1 {
	background-color:transparent;
	margin:45px 0 25px 0;
	padding:0px;
	border:0;
	text-shadow:none;
	background-image:none;
	background-repeat:no-repeat;
}

#main h2, #main h2 a:link, #main h2 a:visited {
	letter-spacing:1px;
	color:#404040;
	text-transform:none;
	font-style:book;
	font-size:40px;
	font-family:'Roboto Condensed', sans-serif;
	font-weight:300;
}

#main h2 {
	background-color:transparent;
	margin:30px 0 10px 0;
	padding:0px;
	border:0;
	text-shadow:none;
	background-image:none;
	background-repeat:no-repeat;
}

#main h3, #main h3 a:link, #main h3 a:visited {
	letter-spacing:1px;
	color:#404040;
	text-transform:none;
	font-style:book;
	font-size:19px;
	font-family:'Roboto Condensed', sans-serif;
	font-weight:300;
}

#main h3 {
	background-color:transparent;
	margin:20px 0 10px 0;
	padding:0px;
	border:0;
	text-shadow:none;
	background-image:none;
	background-repeat:no-repeat;
}

#main h4, #main h4 a:link, #main h4 a:visited {
	letter-spacing:2px;
	color:#404040;
	text-transform:none;
	font-style:normal;
	font-size:16px;
	font-family:Helvetica, Arial, sans-serif;
	font-weight:normal;
}

#main h4 {
	background-color:transparent;
	padding:0px;
	border:0;
	text-shadow:none;
	background-image:none;
	background-repeat:no-repeat;
}

#main h5, #main h5 a:link, #main h5 a:visited {
	letter-spacing:2px;
	color:#404040;
	text-transform:none;
	font-style:normal;
	font-size:14px;
	font-family:Helvetica, Arial, sans-serif;
	font-weight:normal;
}

#main h5 {
	background-color:transparent;
	padding:0px;
	border:0;
	text-shadow:none;
	background-image:none;
	background-repeat:no-repeat;
}

#main p {
	text-align:justify;
}

#main h1:first-child {
	margin:0px 0 25px 0;
}

#main h4, #main h5 {
	margin:15px 0 5px 0;
}

#main a, #main a:visited {
	color:#4D4D4D;
	font-weight:bold;
}

#main a:hover {
	color:#404040;
}

#main article {
	clear:both;
	padding:80px 0 0 0;
}

#main article:first-child {
	margin:0;
	padding:0;
}

.post .entry p img {
	box-shadow:0 0 3px #555;
	-webkit-box-sizing:border-box;
	background-color:white;
	-moz-box-sizing:border-box;
	padding:5px;
	border:1px solid #F2F2F2;
	box-sizing:border-box;
}

.post .entry p img.alignright {
	margin:5px 0 20px 20px;
	float:right;
}

.post .entry p img.alignleft {
	margin:5px 20px 20px 0px;
	float:left;
}

.post .entry div.wp-post-image-full img {
	height:auto;
	width:100%;
	margin:5px 0px 20px 0px;
}

.post .entry div.wp-post-image-left img {
	height:auto;
	width:45%;
	margin:5px 20px 20px 0px;
	float:left;
}

.post .entry div.wp-post-image-right img {
	height:auto;
	width:45%;
	margin:5px 0px 20px 20px;
	float:right;
}

.post h1 a, .post h1 a:hover {
	color:#404040;
	text-decoration:none;
}

.post .entry a,.post .entry a a:visited,.post .entry-footer a, .post .entry-footer a:visited {
	color:#4D4D4D;
	font-weight:bold;
}

.post .entry-footer {
	font-style:italic;
	font-size:0.9em;
}

h3#comments {
	margin-top:50px;
}

ol.commentlist {
	list-style:none;
	padding:0;
	border-top:3px solid #EEEEEE;
}

ul.children {
	list-style:none;
	border-left:1px dotted #ddd;
}

.comment .comment-container {
	border-bottom:3px solid #EEEEEE;
	margin-top:20px;
	padding:10px 0;
}

.comment-head .avatar {
	float:left;
}

.comment-head .avatar img {
	vertical-align:middle;
	margin:0 10px 0 0;
	border:3px solid #EEEEEE;
}

.comment-head .name {
	font-size:18px;
	display:block;
	font-weight:bold;
}

.comment-entry {
	margin-top:15px;
}

.post #respond {
	margin-top:35px;
}

.fix {
	clear:both;
	height:1px;
	overflow:hidden;
	margin:-1px 0 0;
}

section .home, #main .home p {
	text-align:center;
}

section .home h1 {
	text-transform:uppercase;
}

section .home .col {
	border-radius:6px;
	background-color:#F2F2F2;
}

section .home .col p {
	min-height:100px;
	padding:20px;
}

section .home .circular {
	height:150px;
	background-size:cover;
	border-radius:50%;
	width:150px;
	margin:0 auto;
	background-repeat:no-repeat;
}

section .home img.pano {
	border-radius:5px;
	width:90%;
	margin:0 auto;
}

section .home .col .button {
	margin-bottom:15px;
}

#footer {
	position:relative;
	overflow-y:hidden;
	height:350px;
	width:100%;
	background-color:#2C2E2E;
	background-image:none;
	background-repeat:repeat-all;
}

#footer .content h2 {
	margin:20px 0 20px 0;
}

#footer > .overlay {
	display:none;
	background-image:none;
}

#footer .widget {
	color:#8C8C8C;
	text-transform:normal;
	font-style:normal;
	font-size:12px;
	font-family:Helvetica, Arial, sans-serif;
}

#footer .widget p, #footer .widget div, #footer .widget td {
	line-height:20px;
	letter-spacing:normal;
}

#footer .widget h1, #footer .widget h2, #footer .widget h3, #footer .widget h4, #footer .widget h5, #footer .widget h6 {
	line-height:1em;
}

#footer .widget p a:link, #footer .widget p a:visited {
	color:#8C8C8C;
	text-decoration:none;
	font-weight:bold;
}

#footer .widget p a:hover {
	color:#8C8C8C;
}

#footer .widget h2, #footer .widget h2 a:link, #footer .widget h2 a:visited {
	letter-spacing:1px;
	color:#A0A0A0;
	text-transform:none;
	font-style:normal;
	font-size:20px;
	font-family:'Roboto Condensed', sans-serif;
	font-weight:400;
}

#footer .widget h2 {
	background-color:transparent;
	padding:0px;
	border:0;
	text-shadow:none;
	background-image:none;
	background-repeat:no-repeat;
}

#footer .content {
	position:relative;
	width:960px;
	margin:0 auto;
}

#footer .widget ul {
	text-align:left;
	text-decoration:none;
	margin:7px 0px 8px 0px;
	list-style:none;
	border-top:1px solid #363838;
	padding:0;
}

#footer .widget ul li {
	border-bottom:1px solid #363838;
	margin:0;
	list-style:none;
	padding:6px 0 6px 0px;
}

#footer .widget ul li a:link, #footer .widget ul li a:visited {
	letter-spacing:normal;
	color:#8C8C8C;
	text-transform:normal;
	font-style:normal;
	font-size:12px;
	font-family:Helvetica, Arial, sans-serif;
	text-decoration:none;
	font-weight:normal;
}

#footer .widget ul li a:hover {
}

.widget h2, .widget h2 a:link, .widget h2 a:visited {
	letter-spacing:2px;
	color:#404040;
	text-transform:none;
	font-style:normal;
	font-size:20px;
	font-family:Helvetica, Arial, sans-serif;
	font-weight:normal;
}

.widget h2 {
	background-color:transparent;
	margin-bottom:7px;
	padding:0px;
	border:0;
	text-shadow:none;
	background-image:none;
	background-repeat:no-repeat;
}

.widget {
	color:#222222;
	text-transform:normal;
	font-style:normal;
	font-size:12px;
	background-color:transparent;
	margin:40px 0px 0px 0px;
	font-family:Helvetica, Arial, sans-serif;
	border:0;
	padding:0px;
	background-position:center top;
	background-repeat:no-repeat;
	background-image:none;
}

.widget p, .widget div, .widget td {
	line-height:20px;
	letter-spacing:normal;
}

.widget h1, .widget h2, .widget h3, .widget h4, .widget h5, .widget h6 {
	line-height:1em;
}

.widget p a:link, .widget p a:visited {
	color:#0000EE;
	text-decoration:none;
	font-weight:bold;
}

.widget p a:hover {
	color:#00EE00;
}

.widget ul {
	text-align:left;
	text-decoration:none;
	margin:7px 0px 8px 0px;
	list-style:none;
	border-top:1px solid #F2F2F2;
	padding:0;
}

.widget ul li {
	border-bottom:1px solid #F2F2F2;
	margin:0;
	list-style:none;
	padding:6px 0 6px 0px;
}

.widget ul li a:link, .widget ul li a:visited {
	letter-spacing:normal;
	color:#333333;
	text-transform:normal;
	font-style:normal;
	font-size:12px;
	font-family:Helvetica, Arial, sans-serif;
	text-decoration:none;
	font-weight:normal;
}

.widget ul li a:hover {
}

.widget .textwidget {
	text-align:justify;
}

.widget form input[type=text] {
	background-color:#EEE;
	padding:3px;
	border:1px solid #CCC;
}

input[type="submit"], input[type="button"], a.button {
	box-shadow:0 0 1px #444;
	cursor:pointer;
	border-radius:4px;
	text-align:center;
	color:#FFFFFF;
	-webkit-box-shadow:#000000 0 0 1px;
	font-family:Arial,Helvetica,sans-serif;
	text-decoration:none;
	padding:0.55em 2em;
	outline:medium none;
	border:1px solid #0C4888;
}

input[type="submit"]:hover, input[type="button"]:hover, a.button:hover {
	opacity:0.8;
}

input.tiny[type="submit"] , input.tiny[type="button"], a.button.small {
	font-size:9px;
	padding:0.2em 1em;
}

input.small[type="submit"] , input.small[type="button"], a.button.small {
	font-size:11px;
}

input.medium[type="submit"] , input.medium[type="button"], a.button.medium {
	font-size:13px;
}

input.large[type="submit"] , input.large[type="button"], a.button.large {
	font-size:20px;
}

input.style1[type="submit"] , input.style1[type="button"], a.button.style1 {
	color:#FFFFFF;
	background:-moz-linear-gradient(center top , #b4da68,#648a18) repeat scroll 0 0 transparent;
	border:1px solid #8cb240;
	background-image:-webkit-gradient(linear, 0 0%, 0 100%, from(#b4da68), to(#648a18));
}

input.style2[type="submit"] , input.style2[type="button"], a.button.style2 {
	color:#FFFFFF;
	background:-moz-linear-gradient(center top , #353535,#000000) repeat scroll 0 0 transparent;
	border:1px solid #0D0D0D;
	background-image:-webkit-gradient(linear, 0 0%, 0 100%, from(#353535), to(#000000));
}

input.red[type="submit"] , input.red[type="button"], a.button.red {
	color:#FFFFFF;
	background:-moz-linear-gradient(center top , #d02828,#800000) repeat scroll 0 0 transparent;
	border:1px solid #A80000;
	background-image:-webkit-gradient(linear, 0 0%, 0 100%, from(#d02828), to(#800000));
}

input.orange[type="submit"] , input.orange[type="button"], a.button.orange {
	color:#FFFFFF;
	background:-moz-linear-gradient(center top , #ffa728,#d75700) repeat scroll 0 0 transparent;
	border:1px solid #FF7F00;
	background-image:-webkit-gradient(linear, 0 0%, 0 100%, from(#ffa728), to(#d75700));
}

input.gold[type="submit"] , input.gold[type="button"], a.button.gold {
	color:#FFFFFF;
	background:-moz-linear-gradient(center top , #ffff28,#d7b700) repeat scroll 0 0 transparent;
	border:1px solid #FFDF00;
	background-image:-webkit-gradient(linear, 0 0%, 0 100%, from(#ffff28), to(#d7b700));
}

input.green[type="submit"] , input.green[type="button"], a.button.green {
	color:#FFFFFF;
	background:-moz-linear-gradient(center top , #28d028,#008000) repeat scroll 0 0 transparent;
	border:1px solid #00A800;
	background-image:-webkit-gradient(linear, 0 0%, 0 100%, from(#28d028), to(#008000));
}

input.cyan[type="submit"] , input.cyan[type="button"], a.button.cyan {
	color:#000000;
	background:-moz-linear-gradient(center top , #b2ffff,#62bfbf) repeat scroll 0 0 transparent;
	border:1px solid #8AE7E7;
	background-image:-webkit-gradient(linear, 0 0%, 0 100%, from(#b2ffff), to(#62bfbf));
}

input.lightblue[type="submit"] , input.lightblue[type="button"], a.button.lightblue {
	color:#FFFFFF;
	background:-moz-linear-gradient(center top , #28e7ff,#0097d7) repeat scroll 0 0 transparent;
	border:1px solid #00BFFF;
	background-image:-webkit-gradient(linear, 0 0%, 0 100%, from(#28e7ff), to(#0097d7));
}

input.blue[type="submit"] , input.blue[type="button"], a.button.blue {
	color:#FFFFFF;
	background:-moz-linear-gradient(center top , #7171d0,#212180) repeat scroll 0 0 transparent;
	border:1px solid #4949A8;
	background-image:-webkit-gradient(linear, 0 0%, 0 100%, from(#7171d0), to(#212180));
}

input.rose[type="submit"] , input.rose[type="button"], a.button.rose {
	color:#FFFFFF;
	background:-moz-linear-gradient(center top , #d071a0,#802150) repeat scroll 0 0 transparent;
	border:1px solid #A84978;
	background-image:-webkit-gradient(linear, 0 0%, 0 100%, from(#d071a0), to(#802150));
}

input.dark[type="submit"] , input.dark[type="button"], a.button.dark {
	color:#FFFFFF;
	background:-moz-linear-gradient(center top , #484848,#000000) repeat scroll 0 0 transparent;
	border:1px solid #202020;
	background-image:-webkit-gradient(linear, 0 0%, 0 100%, from(#484848), to(#000000));
}

pre, code, tt {
	border-radius:5px 5px 5px 5px;
	color:#888888;
	font:12px/1.5 'andale mono','lucida console', monospace;
	overflow:auto;
	background-color:#eeeeee;
	display:block;
	word-wrap:break-word;
	padding:20px;
	border:1px solid #CCCCCC;
}

.group:before, .group:after {
	content:"";
	display:table;
}

.group:after {
	clear:both;
}

.group {
	zoom:1;
}

.col {
	margin:1% 0 1% 3%;
	display:block;
	float:left;
}

.col:first-child {
	margin-left:0;
}

.span_1_of_2 {
	width:48.5%;
}

.span_2_of_3 {
	width:65.66%;
}

.span_1_of_3 {
	width:31.33%;
}

.span_3_of_4 {
	width:74.25%;
}

.span_2_of_4 {
	width:48.5%;
}

.span_1_of_4 {
	width:22.75%;
}

.span_4_of_5 {
	width:79.4%;
}

.span_3_of_5 {
	width:58.8%;
}

.span_2_of_5 {
	width:38.2%;
}

.span_1_of_5 {
	width:17.6%;
}

.span_5_of_6 {
	width:82.83%;
}

.span_4_of_6 {
	width:65.66%;
}

.span_3_of_6 {
	width:48.5%;
}

.span_2_of_6 {
	width:31.33%;
}

.span_1_of_6 {
	width:14.16%;
}

.span_6_of_7 {
	width:85.28%;
}

.span_5_of_7 {
	width:70.57%;
}

.span_4_of_7 {
	width:55.85%;
}

.span_3_of_7 {
	width:41.14%;
}

.span_2_of_7 {
	width:26.42%;
}

.span_1_of_7 {
	width:11.71%;
}

.span_7_of_8 {
	width:87.12%;
}

.span_6_of_8 {
	width:74.25%;
}

.span_5_of_8 {
	width:61.37%;
}

.span_4_of_8 {
	width:48.5%;
}

.span_3_of_8 {
	width:35.62%;
}

.span_2_of_8 {
	width:22.75%;
}

.span_1_of_8 {
	width:9.875%;
}

.span_2_of_2,.span_3_of_3,.span_4_of_4,.span_5_of_5,.span_6_of_6,.span_7_of_7,.span_8_of_8 {
	width:100%;
}

.tablebox {
	border-collapse:collapse;
	text-align:left;
	width:100%;
	font-size:12px;
}

.tablebox th {
	color:#000000;
	background:#C0C0C0;
	font-size:13px;
	border-bottom:1px solid #FFFFFF;
	font-weight:normal;
	border-top:2px solid #a2a2a2;
	padding:8px;
}

.tablebox td {
	background:#F2F2F2;
	border-bottom:1px solid #FFFFFF;
	border-top:1px solid transparent;
	padding:8px;
}

.tablebox tr:hover td {
	background:#dedede;
}

.columny {
	border-collapse:collapse;
	text-align:left;
	width:100%;
	font-size:12px;
}

.columny th {
	border-right:1px solid #FFFFFF;
	font-size:14px;
	font-weight:normal;
	padding:12px 15px;
	border-left:1px solid #FFFFFF;
}

.columny td {
	border-right:1px solid #FFFFFF;
	padding:8px 15px;
	border-left:1px solid #FFFFFF;
}

.columny-odd {
	background:#F2F2F2;
}

.columny-even {
	background:#ededed;
}

.columny-th-odd {
	background:#dedede;
}

.columny-th-even {
	background:#d4d4d4;
}

.minimalist {
	border-collapse:collapse;
	text-align:left;
	width:100%;
	font-size:12px;
}

.minimalist th {
	font-size:14px;
	border-bottom:2px solid #C0C0C0;
	font-weight:normal;
	padding:10px 8px;
}

.minimalist td {
	padding:9px 8px 0px 8px;
}

.minimalist tbody tr:hover td {
	color:#C0C0C0;
}

form label {
	font-size:1.3em;
	display:block;
	margin-top:20px;
}

form input[type="text"],form textarea {
	-webkit-box-sizing:border-box;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-border-radius:3px;
	color:#000000;
	background:#F2F2F2;
	width:100%;
	-moz-box-sizing:border-box;
	margin-top:3px;
	padding:10px;
	border:1px solid #dedede;
	box-sizing:border-box;
}

form input[type="text"]:focus, form textarea:focus {
	border:1px solid #97d6eb;
}

form textarea {
	height:220px;
	font-family:Arial, Helvetica, sans-serif;
}

form input[type="submit"] {
	margin-top:20px;
	float:right;
}

@media only screen and (min-width: 320px) and (max-width: 960px) {
#hmenu-mobile {
	display:block;
}

#hmenu-mobile:after {
	position:absolute;
	content:'';
	box-shadow:0 10px 0 #fff,  0 23px 0 #fff, 0 36px 0 #fff;
	height:5px;
	width:68%;
	left:16%;
	top:0px;
}

#hmenu {
	width:100%;
	z-index:200;
}

#hmenu > ul {
	display:none;
	margin-top:50px;
}

#hmenu ul li {
	width:100%;
	float:none;
}

#hmenu ul li > a {
	line-height:1em;
	padding:15px;
}

.nav-click {
	display:block;
}

#hmenu-mobile-open {
	-moz-border-radius:5px 5px 0 0;
	border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
}

#hmenu ul li:hover ul {
	display:none;
}

#hmenu ul ul {
	position:static;
	width:100%;
}

}

@media only screen and (min-width: 320px) and (max-width: 768px) {
#hmenu-mobile {
	background:none;
}

#hmenu-mobile:after {
	box-shadow:0 10px 0 #171717, 0 23px 0 #171717, 0 36px 0 #171717;
}

#hmenu ul {
	background-color:#606060;
	background-image:none;
	background-repeat:no-repeat;
	background-position:center top;
}

#hmenu ul li a:hover {
	background-color:#747474;
	background-image:none;
	background-repeat:no-repeat;
	background-position:center top;
}

#hmenu ul ul {
	box-shadow:none;
	background-color:#6f6f6f;
}

#hmenu ul li a {
	border-bottom:1px solid #747474;
}

#hmenu {
	margin:0;
	float:right;
	top:-55px;
}

}

@media only screen and (max-width: 1024px) {
#top .content {
	width:93.75%;
}

#header-wrapper {
	height:auto;
}

#header {
	padding-top:50.0%;
	height:auto;
	background-size:cover;
	width:100%;
}

$s.selector > .overlay {
	display:none;
	background-image:none;
}

#page {
	width:93.75%;
}

#container {
	width:93.75%;
}

#footer {
	height:auto;
}

#footer .content {
	width:93.75%;
}

}

@media only screen and (max-width: 480px) {
.col {
	margin:1% 0 1% 0%;
}

.span_2_of_2, .span_1_of_2, .span_3_of_3, .span_2_of_3, .span_1_of_3, .span_4_of_4, .span_3_of_4, .span_2_of_4, .span_1_of_4,  .span_5_of_5, .span_4_of_5, .span_3_of_5, .span_2_of_5, .span_1_of_5,.span_6_of_6,.span_5_of_6, .span_4_of_6, .span_3_of_6, .span_2_of_6, .span_1_of_6,.span_7_of_7,.span_6_of_7,.span_5_of_7,.span_4_of_7,.span_3_of_7,.span_2_of_7,.span_1_of_7,.span_8_of_8,.span_7_of_8,.span_6_of_8,.span_5_of_8,.span_3_of_8,.span_4_of_8,.span_3_of_8,.span_2_of_8,.span_1_of_8 {
	width:100%;
}

}

