#if ( $export )
	#set ( $voidlink = "" )  
#else
	#set ( $voidlink = "onclick='javascript:return false;'" )  	
#end

<div id="footer">
	<p style="padding-top:20px;">
		<a href="#" $voidlink>Home</a> | 
		<a href="#" $voidlink>Products</a> | 
		<a href="#" $voidlink>Services</a> | 
		<a href="#" $voidlink>News</a> | 
		<a href="#" $voidlink>About</a> 
	</p>
	<p>
		#parse ( "_html/misc/copyright.vm" )
	</p>
</div>
