#svg_begin($width $height)



<defs>
    
	<radialGradient id="gradient">
		<stop offset="0%" stop-color="white" stop-opacity="1" />
		<stop offset="65%" stop-color="white" stop-opacity="0.5"  />
		<stop offset="100%" stop-color="white" stop-opacity="0"  />
	</radialGradient>

	<mask id="mask" maskContentUnits="objectBoundingBox">
		<ellipse cx="0.5" cy="0" rx="0.5" ry="1" fill="url(#gradient)"/>
	</mask>     
     
     
</defs>


<g>

## bg
<rect x="0" y="0"  width="$width" height="$height" fill="#444444" />

	## scaled image
	<g transform="scale( $scale, $scale )">
	
		#set ( $overlayUrl = $_.realPath( "WEB-INF/templates/${s.path}/${s.image}" ) )
		
		<g mask="url(#mask)">
			<image id="overlay" 
				x="0" 
				y="0" 
				width="$s.width" 
				height="$s.height" 
				xlink:href="file:$overlayUrl" 
				opacity="1.0" 
			/>
		</g>
	</g>

</g>

#svg_end()
