<div #blocAttributes( $s ) #if($currentPage.name == "home")class="home"#end>

	#html( $s.bg )
	
	#if( $_.available() )	
	
		#parse ( "$s.path/${currentPage.layout}.html.vm" )
		
	#else	
	
		#parse ( "$s.path/m.html.vm" )
	
	#end
	
	<div class="clear" style="height:60px"></div>

</div>
