<div class="section group ms">

<!-- MAIN BLOC --> 	
<div class="main col span_3_of_4">

#html( $main )

</div>
<!-- END MAIN -->


<!-- SIDEBAR  -->
<div class="col span_1_of_4">

#html( $sidebar )

</div>
<!-- END SIDEBAR  -->

</div>
