<div class="row">
	#html( $containerTop )
</div>

<div class="row">
	<div #blocAttributes($s)>
		
		#html( $banner )
		
		#html( $page )
		
		#html( $footer )
		
	</div>
</div>

<div class="row">
#html( $containerBottom ) 
</div>

