#wrapper {
    margin:0px auto;
    position: relative;
    text-align: center;
    width: 960px;
    top:0;
}


#centered {
    line-height: 1em;
    margin: 0 auto ;
    width:100%;
    position:relative;
    
}


.pricetable {
    color: #313131;
    font-family: Calibri,Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: normal;
    width: 100%;
}

.price_column_first {
	width:380px;
}

.pricetable .red, .pricetable .green, .pricetable .blue  {
	width: 180px;
}

.pricetable .price_column_first, .pricetable .price_column {
    float: left;
    height: 100%;
    margin-right: 1px;
    position: relative;
}


.pricetable .red a.price_button, .pricetable .red li.price_header1 {
    background-color: #EE2121;
}

.pricetable .green a.price_button, .pricetable .green li.price_header1 {
    background-color: #5AAD17;
}

.pricetable .blue a.price_button, .pricetable .blue li.price_header1 {
    background-color: #4DB6FF;
}

.pricetable ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}


.pricetable li {
    list-style: none outside none;
}


.pricetable .price_column_first li.price_header1 {
    background: none repeat scroll 0 0 transparent;
}

.pricetable .price_column_first li {
    text-align: left;
    font-weight:bold;
}


.pricetable li.price_header1 {
    border-radius: 19px 6px 0 0;
    color: #FFFFFF;
    font-size: 18px;
    height: 36px;
    line-height: 24px;
    line-height:2em;
}


.green .price_header1, .blue .price_header1 {
	font-weight:bold;
}

.pricetable ul li {
    float: left;
    margin: 0;
    height: 28px;
    padding-left: 0;
    text-align: center;
    width: 100%;
}

.pricetable ul li span {
    line-height:2em
}


.pricetable .price_column_first li.price_header2 {
    background-color: #EFEFEF;
    border-bottom: 1px solid #CCCCCC;
    border-radius: 19px 0 0 0;
}
.pricetable .price_column_first li {
    text-align: left;
}


.pricetable li.price_header2 {
    background-color: #EEEEEE;
    border-bottom: 1px solid #CCCCCC;
    color: #333333;
    font-size: 25px;
    font-weight: bold;
    height: 50px;
    line-height:2em
}



.pricetable .price_column_first li {
    text-align: left;
}
.pricetable .odd {
    background-color: #FFFFFF;
    border-bottom: 1px dotted #CCCCCC;
}

.pricetable .even {
    background-color: #EFEFEF;
    border-bottom: 1px dotted #CCCCCC;
}



.pricetable a.tooltip {
    background: url("../images/info.png") no-repeat scroll right center transparent;
    color: #313131;
    font-size: 13px;
    padding: 0 20px 0 10px;
    position: relative;
    text-decoration: none;
    z-index: 24;
}
a {
    color: #000000;
    font-family: Calibri,Arial;
    font-size: 13px;
    font-weight: normal;
    outline: medium none;
    text-decoration: none;
}


.pricetable a.tooltip span {
    background: none repeat scroll 0 0 #000000;
    border: 1px solid #000000;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    display: block;
    font-family: Calibri,Arial;
    font-size: 13px;
    left: 10px;
    line-height: 16px;
    opacity: 0;
    padding: 7px 10px;
    position: absolute;
    text-align: left;
    text-shadow: none;
    top: 25px;
    transition: all 0s ease 0s;
    visibility: hidden;
    width: 220px;
}

.pricetable .price_column_first li span {
    padding-left: 10px;
}

.pricetable .price_footer {
    background-color: #EEEEEE;
    border-bottom: 2px solid #CCCCCC;
    border-top: 1px solid #FFFFFF;
    float: left;
    height: 54px;
    padding-bottom: 6px;
    padding-top: 20px;
    width: 100%;
}


.pricetable-btn.black {
    background: #5E5E5E;
    border-color: #4C4C4C #313131 #1F1F1F;
    box-shadow: 0 1px 2px #EAEAEA, 0 1px 0 #868686 inset;
    color: #FFFFFF;
    text-shadow: 0 1px 1px #2E2E2E;
}


.pricetable-btn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: -moz-linear-gradient(center top , #F9F9F9, #F0F0F0) repeat scroll 0 0 transparent;
    border-color: #DEDEDE #D8D8D8 #D3D3D3;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 2px #EAEAEA, 0 1px 0 #FBFBFB inset;
    color: #555555;
    cursor: pointer;
    display: inline-block;
    font: bold 12px/1em Arial,sans-serif;
    outline: medium none;
    padding: 8px 11px;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
}


