
#if(!$s.merge)

<div class="overlay"></div>

#if( $s.borderTop.image )
<div class="border-top"></div>
#end

#if( $s.borderBottom.image )
<div class="border-bottom"></div>
#end

#end

<h1 style="font-size:15px;padding-left:200px;color:white">$s.fill.pattern.width</h1>