#if ( $s.fill.pattern)
<g transform="translate( 0 0)">

	#set ( $id = $_.id() ) 
	
	<pattern
		id="pattern_$id"
		patternUnits="userSpaceOnUse"
		x="0"
		y="0" 
		width="$s.fill.pattern.width" 
		height="$s.fill.pattern.height">
		
		#set ( $patternUrl = $Helper.realPath( "WEB-INF/templates/${s.fill.pattern.path}/${s.fill.pattern.image}" ) )

		<image 
			x="0" 
			y="0" 
			width="$s.fill.pattern.width" 
			height="$s.fill.pattern.height"
			xlink:href="file:$patternUrl" 
			opacity="1.0"
		/>
	
	</pattern>
	
	<rect x="0" y="0"  width="$s.fill.pattern.width" height="$s.fill.height" fill="$s.color" />
	<rect x="0" y="0"  width="$s.fill.pattern.width" height="$s.fill.height" fill="url(#pattern_$id)" />

</g>
#end



#if( $s.overlay.image )

	#set($overlayTop = $s.height)
	#set($overlayLeft = $_.halfSize( $s.overlay.width ) )
	
	#if ( $s.merge ) 
		#set( $overlayTop = 0 )
	#end

	<g transform="translate( $overlayLeft $overlayTop)">
		#set( $overlayLeft = 0 - $overlayLeft )
		#drawAt( $s.overlay $overlayLeft 0 )
	</g>

#end


#slicePng( "${s.selector}-bg" 0 0 $s.fill.width $s.fill.height 1.0 )


#if ( $s.fill.pattern)
<g transform="translate( 0 $s.height)">

	#set ( $id = $_.id() ) 

## 		x="-$_.halfSize($s.fill.pattern.width)
#set($patternTransformX = $_.halfSize( $s.overlay.width ) - $_.halfSize( $s.fill.pattern.width ))
	
	<pattern
		id="pattern_$id"
		patternUnits="userSpaceOnUse"
		patternTransform="translate( $patternTransformX 0)"
		x="0"
		y="0" 
		width="$s.fill.pattern.width" 
		height="$s.fill.pattern.height">
		
		#set ( $patternUrl = $Helper.realPath( "WEB-INF/templates/${s.fill.pattern.path}/${s.fill.pattern.image}" ) )

		<image 
			x="0" 
			y="0" 
			width="$s.fill.pattern.width" 
			height="$s.fill.pattern.height"
			xlink:href="file:$patternUrl" 
			opacity="1.0"
		/>
	
	</pattern>
	
	<rect x="0" y="0"  width="$s.overlay.width" height="$s.height" fill="$s.color" />
	<rect x="0" y="0"  width="$s.overlay.width" height="$s.height" fill="url(#pattern_$id)" />
	#drawAt( $s.overlay 0 0 )
	

</g>
#end


#if ( $s.overlay.image && !$s.merge )
	#slicePng( "${s.selector}-img" 0 $s.height $s.overlay.width $s.height 1.0 )
#end




