<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<!-- Copyright 2007 - $year Thierry Ruiz dotemplate.com --> 



<html expr:dir='data:blog.languageDirection' xmlns='http://www.w3.org/1999/xhtml' xmlns:b='http://www.google.com/2005/gml/b' xmlns:data='http://www.google.com/2005/gml/data' xmlns:expr='http://www.google.com/2005/gml/expr'>
  	
<head>
    	<b:include data='blog' name='all-head-content' />
    	<title><data:blog.pageTitle/></title>
    	<b:skin><![CDATA[
	
#parse ( "tpl/style.css.vm" )
	
			]]>
		</b:skin>




#if( $_.hasScripts() )

<!-- Javascript required for your theme do not remove this section -->
<script type="text/javascript" language="javascript">
//<![CDATA[

$_.include("sites/${site.uid}/js/addon.js") ;

$_.include("sites/${site.uid}/js/custom.js") ;


//]]>

</script>
<!-- end of Javascript content -->

#end 


		    
</head>


<body>

#html ( $topWrapper )

#html( $wrapper )

#html( $bottomWrapper )


</body>

</html>
