#set( $w = 2 )
#if($s.width) #set( $w = $s.width ) #end
#set( $h = $s.height  )
#set ( $id = $_.id() ) 


<defs>

	#set ( $darker = "#darker($s.color $s.gradient)" )

	<linearGradient id="gradient_$id" x1="0" y1="0%" x2="0" y2="100%">
		
		<stop stop-color="$darker" offset="0%" />
		<stop stop-color="#brighter($s.color $s.gradient)" offset="50%" />
		<stop stop-color="$darker" offset="100%" />

	</linearGradient>


	#set ( $darker = "#darker($s.activeColor $s.gradient)" )
		
	<linearGradient id="activeGradient_$id" x1="0" y1="0%" x2="0" y2="100%">
		
		<stop stop-color="$darker" offset="0%" />
		<stop stop-color="#brighter($s.activeColor $s.gradient)" offset="50%" />
		<stop stop-color="$darker" offset="100%" />

	</linearGradient>


</defs>


<g>

	<rect x="0" y="0"  width="$w" height="$h" fill="url(#gradient_$id)" />
	
	## outset borders
	#set( $borderY = $h - 1)
	<rect x="0" y="0"  width="$w" height="1" fill="#brighter($s.color 20)" />
	<rect x="0" y="$borderY" width="$w" height="1" fill="#darker($s.color 40)" />
	
	
	<rect x="0" y="$h" width="2" height="$h" fill="url(#activeGradient_$id)" />

</g>



## arrow
<g transform="translate(0 200)">
 	<polygon points="15,18 35,18 25,28" fill="$s.textColor" />
</g>


#slicePng( "${s.selector}" 0 0 $w $h 1.0 )
#slicePng( "${s.selector}-active" 0 $h 2 $h 1.0 )
#slicePng( "${s.selector}-arrow" 0 200 50 45 1.0 )

