<div class="home">
	
	<h1>Make Amazing Web Templates</h1> 
	
	<div class="section group">

						
		
					
			
			<div class="col span_1_of_3 shade radius">
				
				<header>		
					<h3>Header Designer</h3>
				</header>
			
			
							
								
				<div class="circular" style="background-image:url($_.image("generic/30/circular/template-1x1-23.jpg"))"></div>
				
								
								
					
	
				<p>
					Designing amazing website headers has never been that easy. Try our simple yet powerful header building tool and create professionnal looking headers in minutes.
				</p>
	
				<input type="button" class="button small style1" value="More..." />
				
			</div>
		
					
			
			<div class="col span_1_of_3 shade radius">
				
				<header>		
					<h3>Color Schemes</h3>
				</header>
			
			
							
								
				<div class="circular" style="background-image:url($_.image("generic/30/circular/template-1x1-27.jpg"))"></div>
				
								
								
					
	
				<p>
					You can apply color schemes to your Wordpress theme in one click. Choose from a gallery of carefully selected color palettes.
				</p>
	
				<input type="button" class="button small style1" value="More..." />
				
			</div>
		
					
			
			<div class="col span_1_of_3 shade radius">
				
				<header>		
					<h3>800+ Graphics Resources</h3>
				</header>
			
			
							
								
				<div class="circular" style="background-image:url($_.image("generic/30/circular/template-1x1-34.jpg"))"></div>
				
								
								
					
	
				<p>
					Build your very unique web design. Hundreds of graphic resources, premium images fonts and text effects to choose from.
				</p>
	
				<input type="button" class="button small style1" value="More..." />
				
			</div>
		
			
	</div>

	<div style="padding:35px;border-radius:5px" class="shade radius">
		#license()
	</div>

</div>

