$s.set("imageType", $_c.getBloc(1).imageType )

#startTag($s)

	#foreach($i in [1..$s.columns])
		
		#set( $currentBloc = $_c.getBloc($i) )
		
		
		<div class="col span_1_of_${s.columns}">
			
			#if($s.layout == "hd-img-txt" )
						
				#parse ( "$s.path/hd.html.vm" )
				#parse ( "$s.path/img.html.vm" )
				#parse ( "$s.path/txt.html.vm" )
			
			#end
			
			#if($s.layout == "img-hd-txt" )			
			
				#parse ( "$s.path/img.html.vm" )
				#parse ( "$s.path/hd.html.vm" )
				#parse ( "$s.path/txt.html.vm" )
			
			#end
			

			<input type="button" class="button small style1 pie" value="More..." />
			
		</div>
	
	#end
	
#endTag($s)
