<div #blocAttributes($s) >

	#html( $s.bg )

	<section #if($currentPage.name == "home")class="home"#end>
	
		#if( $_.available() )	

			#html( $currentPage.content )
			
		#else
			
			#parse ( "_includes/call2action.html.vm" )
			
		#end	
	

	</section>

</div>
